.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
    background-color: white;
    padding:3rem;
    position: relative;
    bottom: 0;
    left: 0;
    background: #fafafa;
    border-radius: 30px 30px 30px 30px;
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);  */
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
}

.container1:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    
}
.left1{
    margin:2rem;
}

.right1{
    margin:2rem;
}

.center{
    margin:2rem;
}

.center img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.left1 h2{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}
.left1 p{
    text-align: justify;
    color: white;
}

.right1 h2{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

.right1 p{
    text-align: justify;
    color: white;
}



.imgchoicegrp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.imgchoice{
    width: 30%;
    height: 30%;
    object-fit: fill;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.imgchoice:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}

.sizegrp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.sizebtn{
    width: 20%;
    height: 30%;
    object-fit: fill;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 0.5s ease;
    background-color: white;
    /* box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ; */
}

.sizebtn:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}

.colorgrp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.colorbtn{
    width: 60px;
    height: 50px;
    object-fit: fill;
    border-radius: 50%;
    /* border: 2px solid white; */
    transition: all 0.5s ease;
    box-shadow: 0 0 50px rgb(198, 194, 194);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}


.colorbtn:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}

.red{
    background-color: red;
    border:2px solid red;
}

.blue{
    background-color: blue;
    border:2px solid blue;
}

.green{
    background-color: green;
    border:2px solid green;
}

.yellow{
    background-color: yellow;
    border:2px solid yellow;
}

.addtocartbtn{
    width: 100%;
    height: 40px;
    object-fit: fill;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 2rem;
    border-color: white;
    border:2px solid white;
    transition: all 0.5s ease;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.addtocartbtn:hover{
    letter-spacing: 2px;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    
}

.quantity{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.plus-btn{
    width: 30px;
    height: 30px;
    object-fit: fill;
    border-radius: 50%;
    background-color: #ffffff;
    border-color: white;
    border:2px solid white;
    transition: all 0.5s ease;
    margin: 10px;
}
.minus-btn{
    width: 30px;
    height: 30px;
    object-fit: fill;
    border-radius: 50%;
    background-color: #ffffff;
    border-color: white;
    border:2px solid white;
    transition: all 0.5s ease;
    margin: 10px;
}

.input{
    width: 30px;
    height: 30px;
    object-fit: fill;
    /* border-radius: 50%; */
    background-color: #ffffff;
    border-color: white;
    border:2px solid white;
    transition: all 0.5s ease;
    margin: 10px;
    text-align: center;
}




.title{
    margin:2rem;
    color:white;

}

.desc{
    margin:2rem;
    color: white;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    color: white;
  }

  
  table tr {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: white;
    color:black;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  



@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
    .left1{
        margin-bottom: 2rem;
        margin: 0rem;
    }
    .right1{
        margin-bottom: 2rem;
        margin:0rem;
    }
    .center{
        margin-bottom: 2rem;
        margin:1rem;
    }
    .colorbtn{
        margin:0.5rem;
    }
}


a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}


.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}