@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: linear-gradient(to right, #e66465, #9198e5); */
    font-family: kanit ;
}

.titleText{
    margin:1.5rem;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
}

.color__toggle {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .toggler {
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0.8rem;
  }
  .toggler:hover {
    transform: scale(130%);
    opacity: 0.7;
  }