a{
    text-decoration: none;
}
#order_testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}


.order_testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.order_testimonial-box{
    width:475px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    /* background-color: #ffffff; */
    
  
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
    border-radius: 10px;
    letter-spacing:1px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
    
    
}

.order_testimonial-box::before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    filter: blur(10px);
}

.order_profile-img{
    width:50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}
.order_profile-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

}
.order_profile{
    display: flex;
    align-items: center;
}
.order_name-user{
    display: flex;
    flex-direction: column;
    
}
.order_name-user strong{
 
    color:white;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}
.order_name-user span{
    color: #d0cdcd;
    font-size: 0.8rem;
}
.order_reviews h6{
    color: #ffffff;
    font-weight: 700;
}
.order_box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.order_client-comment p{
    font-size: 0.9rem;
    color:white;
}

.order_testimonial-box{
    transition-duration: 0.4s;
}
.order_testimonial-box:hover{
    transform: scale(1.02);
    transition: all 0.3s ease;
}
 
@media(max-width:1060px){
    .order_testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .order_testimonial-box{
        width:100%;
    }
    .order_testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .order_box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .order_reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}