.ordercard{
    /* width:150%; */
    /* height:450px; */
    /* box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ; */
}

.ordercard::before{
    
}
.cardimg{
    height:50%;
    width:100%;
}
.quantity{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}
.plus-btn{
    width: 30px;
    height: 30px;
    object-fit: fill;
    border-radius: 50%;
    background-color: #ffffff;
    border-color: white;
    border:2px solid white;
    transition: all 0.5s ease;
    margin: 10px;
}
.minus-btn{
    width: 30px;
    height: 30px;
    object-fit: fill;
    border-radius: 50%;
    background-color: #ffffff;
    border-color: white;
    border:2px solid white;
    transition: all 0.5s ease;
    margin: 10px;
}

.input{
    width: 30px;
    height: 30px;
    object-fit: fill;
    /* border-radius: 50%; */
    background-color: #ffffff;
    border-color: white;
    border:2px solid white;
    transition: all 0.5s ease;
    margin: 10px;
    text-align: center;
}

Label{
    color:white;
}